<h1><%= t(:listing_reports) %></h1>

<table class="index">
  <thead>
    <tr data-hook="reports_header">
      <th><%= t(:name) %></th>
      <th><%= t(:description) %></th>
    </tr>
  </thead>
  <tbody>
    
    <tr data-hook="reports_row">
      <td><%= link_to t(:sales_total), sales_total_admin_reports_url %></td>
      <td><%= t(:sales_total_description) %></td>
    </tr>
    <tr data-hook="reports_row">
      <td><%= link_to t(:sales_detail), main_app.admin_reports_sales_detail_url %></td>
      <td><%= t(:sales_detail_description) %></td>
    </tr>
  </tbody>
</table>

