<h1><%= t(:sales_totals) %> </h1>
<script type="text/javascript">

  var report_data = [
      <% @reports.each do |entry| %>
        <%= "[#{entry.updated_at.to_time.utc.to_i*1000}, #{entry.total}]," %>
      <% end %>
  ];
</script>
<div id="flot-placeholder" style="width: 800px; height: 400px; padding: 0px; position: relative;" >

</div>
<table class="admin-report" data-hook="sales_total">
  <tbody>
    <tr>
      <th scope="row"><%= t(:item_total) %>:</th>
      <td align="right"><%= number_to_currency @item_total %></td>
    </tr>
    <tr>
      <th scope="row"><%= t(:adjustment_total) %>:</th>
      <td align="right"><%= number_to_currency @adjustment_total %></td>
    </tr>
    <tr>
      <th scope="row"><%= t(:sales_total) %>:</th>
      <td align="right"><%= number_to_currency @sales_total %></td>
    </tr>
    <tr>
      <th scope="row"><%= t(:order_count) %>:</th>
      <td align="right"><%= @orders.count %></td>
    </tr>
  </tbody>
</table>

<% content_for :sidebar do %>
  <%= render :partial => 'spree/admin/shared/report_criteria', :locals => {} %>
<% end %>

