<div class="row-fluid" xmlns="http://www.w3.org/1999/html">
  <div class="span8">
    <p id="notice"><%= notice %></p>
    <% @articles.each do |post| %>

        <div class="blog-heading">
          <a href="<%= main_app.article_path(post)%>">
            <h2 class="title-post"><%= post.title %></h2>
          </a>
        </div>
        <div class="content-post" id="content-post-<%= post.id %>">

          <%= post.short_desc %>...
          <%= link_to t(:view_more), main_app.article_path(post)%>

        </div>
        <div class="content-post" id="content-post-expand-<%= post.id %>" style="display: none;">
          <%= post.content.html_safe %>
          <a class="collapse-post" id="<%= post.id %>">Collapse</a>
        </div>
        <br class="clear"/>
    <% end %>
  </div>
  <div class="span4">

    <ul style="margin-left: 0px;">
      <%# @infographics.each do |info| %>
      <li>
        <%#= info.content.html_safe %>
      </li>
      <%# end %>
    </ul>
  </div>
</div>


