<% if @orders.present? %>
<h1><%= t(:listing_orders) %></h1>

<table class="index" id="listing_orders" data-hook>
  <thead>
    <tr>
      <% if @show_only_completed %>
        <th><%= t(:completed_at, :scope => 'activerecord.attributes.spree/order') %></th>
      <% else %>
        <th><%= t(:created_at, :scope => 'activerecord.attributes.spree/order') %></th>
      <% end %>
      <th><%= t(:number, :scope => 'activerecord.attributes.spree/order') %></th>
      <th><%= t(:state, :scope => 'activerecord.attributes.spree/order') %></th>
      <th><%= t(:payment_state, :scope => 'activerecord.attributes.spree/order') %></th>
      <th><%= t(:shipment_state, :scope => 'activerecord.attributes.spree/order') %></th>
      <th><%= t(:email, :scope => 'activerecord.attributes.spree/order') %></th>
      <th><%= t(:total, :scope => 'activerecord.attributes.spree/order') %></th>
      
    </tr>
  </thead>
  <tbody>
  <% @orders.each do |order| %>
    <% if @order.completed? %>
    <tr>
      <td><%= order.completed_at.to_date %></td>
      <td><%= order.number%></td>
      <td><%= t("order_state.#{order.state.downcase}") %></td>
      <td><%= t("payment_states.#{order.payment_state}") if order.payment_state %></td>
      <td><%= t("shipment_states.#{order.shipment_state}") if order.shipment_state %></td>
      <td><%= order.email %></td>
      <td><%= number_to_currency order.total %></td>
    </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
<%= paginate @orders %>
<% end %>

