<div class="columns alpha six" data-hook="billing_fieldset_wrapper">
<% unless @order.email? %>
  <p class="field" style='clear: both'>
    <%= form.label :email %><br />
    <%= form.text_field :email %>
  </p>
<% end %>
<fieldset id="billing" data-hook>
  <%= form.fields_for :bill_address do |bill_form| %>
    <legend><%= t(:billing_address) %></legend>
    
      <div class="control-group">
        <%= bill_form.label :firstname, "Họ & Tên", :class=>"control-label" %>
        <div class="controls">
          <%= bill_form.text_field :firstname, :class => 'required' %>
        </div>
      </div>
      
      <% if Spree::Config[:company] %>
        <p class="field" id="bcompany">
          <%= bill_form.label :company, t(:company) %><br />
          <%= bill_form.text_field :company %>
        </p>
      <% end %>
      <div class="control-group">
        <%= bill_form.label :address1, t(:street_address), :class=>"control-label" %>
        <div class="controls">
          <%= bill_form.text_field :address1, :class => 'required' %>
        </div>
      </div>

      <div class="control-group">
        <%= bill_form.label :city, t(:city), :class=>"control-label" %>
        <div class="controls">
          <%= bill_form.text_field :city, :class => 'required' %>
        </div>
      </div>

      <div class="control-group">
        <%= bill_form.label :phone, t(:phone), :class=>"control-label" %>
        <div class="controls">
          <%= bill_form.phone_field :phone, :class => 'required' %>
        </div>
      </div>
      <% if Spree::Config[:alternative_billing_phone] %>
        <p class="field" id="baltphone">
          <%= bill_form.label :alternative_phone, t(:alternative_phone) %><br />
          <%= bill_form.phone_field :alternative_phone %>
        </p>
      <% end %>
    
  <% end %>
</fieldset>
</div>
<hr class="clear" />
<div class="form-buttons" data-hook="buttons">
  <%= submit_tag t(:save_and_continue), :class => 'continue button primary' %>
</div>
