<fieldset id="payment" data-hook>
  <legend><%= t(:payment_information) %></legend>
  <div data-hook="checkout_payment_step">
    <% @order.available_payment_methods.each do |method| %>
      <label>
        <%= radio_button_tag "order[payments_attributes][][payment_method_id]", method.id, method == @order.payment_method %>
        <%= t(method.name, :scope => :payment_methods, :default => method.name) %>
      </label>
	  <div class="payment-description">
	  	<%= render :partial => "spree/checkout/payment/#{method.method_type}", :locals => { :payment_method => method } %>
	  </div>
    <% end %>

    
    <br style="clear:both;" />

  </div>
</fieldset>

<br class="space" />

<div class="form-buttons" data-hook="buttons">
  <%= submit_tag t(:save_and_continue), :class => 'continue button primary' %>
  <script>disableSaveOnClick();</script>
</div>
