<div class="field">
  <%= f.label :title %>
  <%= f.text_field :title, :class=>"span6" %>
</div>
<div class="field">
  <%= f.label :content %>
  <%= f.text_area :content, :class=>"span6", :rows=>4 %>
</div>
<div class="actions">
  <%= f.submit %>
</div>