<p class="clear"></p>
<div class="comments">
  <%@product.comments.each do |comment|%>
  <div class="form-actions">
    <%= image_tag "avatar_icon.jpg", :class=>"avatar" %>
    <div class="details">
      <h4><%= comment.user.present?? comment.user.username : t(:stranger) %></h4>
      <em><%= comment.created_at.utc.getlocal("+07:00").asctime %></em>
      <div><%= comment.comment %></div>
    </div>
  </div>
  <% end %>
  <% @comment = @product.comments.new %>
  <%= form_for @comment, :url => "/products/#{@product.id}/comments", :remote=>true do |f| %>
    <%= f.text_area :comment, :class=>"span8", :rows => 4%>
    <div>
      <%= f.submit :value=>t(:create_comment), :class=>"btn" %>
    </div>
  <% end %>
</div>
