<% products.each_with_index do |product, index| %>
  <% if index % 4 == 0 %>
    <% @column = 0 %>
    <div class="clearfix">
  <% end %>
  <li id="product_<%= product.id %>" variant_id="<%= product.master.id%>" class="span2" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
    <div class="product-image">
      <% if (current_user && current_user.admin_group?) %>
        <%=  clone_product_btn(product).html_safe %>
      <% end %>
      <%= link_to small_image(product, :itemprop => "image", :class=>"img-rounded"), product, :itemprop => 'url' %>
      <span class="original-price"><%= number_to_currency product.original_price %></span>
      <span class="price selling" itemprop="price"><%= number_to_currency product.price %></span>
    </div>

    <%= link_to truncate(product.name, :length => 50), product, :itemprop => "name", :title => product.name %>

    <% unless product.has_stock? %>
      <a href="#" class="btn out-of-stock disabled" price ="<%= product.price %>"><%= t(:out_of_stock) %></a>
    <% else %>
      <% if product.available_on > Time.now %>
        <span class='coming-product'>Hàng sắp về</span>
      <% else %>

        <div class="dropdown">
          <a class="btn dropdown-toggle add-to-cart" data-toggle="dropdown" price ="<%= product.price %>"><%= t(:add_to_cart) %></a>
          <% if product.has_variants? %>
            <div class="dropdown-menu variants-dropdown">
              <% product.variants.each do |variant| %>
                <div class="variant add-variant-to-cart" data-id="<%= variant.id %>">
                  <%= image_tag variant.images.first.try(:mini_url) if variant.images.present? %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>

  </li>
  <% @column += 1 %>
  <% if index == products.length || @column == 4 %>
    </div>
  <% end %>
<% end %>


