<% if @related_products.present? %>
<div class="span12">
<h2>Sản phẩm cùng loại</h2>
</div>
<ul id="products" class="inline product-listing" data-hook>
  <% @related_products.each do |product| %>
    <% if Spree::Config[:show_zero_stock_products] || product.has_stock? %>
      <li id="product_<%= product.id %>" variant_id="<%= product.master.id%>" class="span2" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
        <div class="product-image">
          <!--% if (current_user && current_user.admin_group?) %>-->
            <!--%= clone_product_btn(product).html_safe %>-->
            <!--<b>%= product.on_hand %></b>-->
          <!--% end %>-->
          <%= link_to small_image(product, :itemprop => "image", :class=>"img-rounded"), product, :itemprop => 'url' %>
          <span class="price selling" itemprop="price"><%= number_to_currency product.price %></span>
        </div>
        
        <%= link_to truncate(product.name, :length => 50), product, :itemprop => "name", :title => product.name %>
        
        <% unless product.has_stock? %>
        <a href="#" class="btn out-of-stock" price ="<%= product.price %>"><%= t(:out_of_stock) %></a>
        <% else %>
        <a class="btn add-to-cart" price ="<%= product.price %>"><%= t(:add_to_cart) %></a>
        <% end %>
        
      </li>
    <% end %>
  <% end %>
</ul>

<% end %>
