
<div class="row pull-right" id="announcements">
  <% if @announcements.any? %>
  <div class="span12 info-panel">
	  <table border="0">
		<% @announcements.each do |announcement|%>
	  	<tr>
			<td class="date"><%= announcement.created_at.strftime("%d-%m-%Y") %></td>
			<td class="info"><%= announcement.description %></td>
		</tr>
		<% end %>
	  </table>
  </div>
  <% end %>
  <% if current_user.present? && current_user.has_spree_role?("admin")%>
  <div class="span12">
    <div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
	  <table border="0">
		<% @comments.each do |comment|%>
	  	<tr>
			<td class="date"><%= comment.created_at.strftime("%d-%m-%Y") %></td>
			<td class="info"><%= t(:user_comment_on, :username => comment.author) %> <%= link_to(comment.commentable.name, comment.commentable) %> <%= ": " + comment.comment %></td>
		</tr>
		<% end %>
	  </table>
  </div>
  </div> 
  <% end %>      
</div>
