<div class="row-fluid">
  <div class="span8">
    <div class="utility">
      <%= @announcement.created_at.strftime("%b %d %Y") %>
    </div>

    <div class="blog-heading">
      <h2 class="title-post" id="<%=@announcement.id%>"><%= @announcement.title %></h2>
    </div>
    <div class="content-post" id="content-post-<%=@announcement.id%>" >

      <%= @article.content.html_safe %>

    </div>
    <br class="clear"/>

  </div>
</div>


<%= link_to 'Edit', main_app.edit_admin_article_path(@announcement) %> |
<%= link_to 'Back', main_app.admin_articles_path %>
