<nav class="sidebar-item" id="cart-details">
  <div class="well">
    <h2><%= t(:cart) %></h2>
    <% if @out_stock %>
      <div class="help-inline">Vượt số lượng sản phẩm trong kho</div>
    <% end %>

    <table class="table">
      <th><%= t(:product) %></th>
      <th>SL</th>
      <th></th>
      <% if current_order.present? %>
        <% current_order.line_items.each do |item| %>
          <tr name="<%= item.variant.product.name %>">
            <td class="name"><%= item.variant.product.name %></td>
            <td class="count"><%= item.quantity %></td>
            <td><%= link_to image_tag('icons/delete.png'), '#', :class => 'delete', :id => "delete_#{dom_id(item)}", :item_id =>item.id %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
    <% item_total = current_order.present? ? current_order.item_total : 0 %>
    <% can_check_out = item_total > 200000 %>
    <div class="progress <%= "progress-striped active" if can_check_out %>">
      <% if can_check_out %>
      <div class="bar" style="width: 100%;"><%= sprintf("%.0f", item_total/1000) %>k</div>
      <% else %>
      <div class="bar bar-warning" style="width: <%= item_total/2000%>%;"><%= sprintf("%.0f", item_total/1000) %>k</div>
      <% end %>
      <%#*<div style="position: absolute;left: 210px;">200k</div>%>     
    </div>
    <% if can_check_out %>
      <div><%= link_to t(:checkout), checkout_path, :class => "btn checkout primary", :id => 'checkout-link' %></div>
    <% else %>
      <div><%= link_to t(:checkout), "#", :class => "btn checkout primary disabled", :id => 'checkout-link' %></div>
    <% end %>
    
    <br/>
    <em>Lưu ý: Đơn hàng tối thiểu 200k</em>
  </div>
</nav>

