<%
  paginated_products = @searcher.retrieve_products if params.key?(:keywords)
  paginated_products ||= products
%>
<% if @latest_products.empty? %>
  <%= t(:no_products_found) %>
<% elsif params.key?(:keywords) %>
  <h6 class="search-results-title"><%= t(:search_results, :keywords => h(params[:keywords])) %></h6>
<% end %>

<% if @latest_products.any? %>
<h1><%= t(:latest_products) %></h1>
<ul id="products" class="inline product-listing" data-hook>
  <% reset_cycle('default') %>
  <% @latest_products.each do |product| %>
    <% if Spree::Config[:show_zero_stock_products] || product.has_stock? %>
      <li id="product_<%= product.id %>" class="columns three <%= cycle("alpha", "secondary", "", "omega secondary", :name => "classes") %>" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
        <div class="product-image">
          <!--% if (current_user && current_user.admin_group?) %>-->
            <!--%= clone_product_btn(product).html_safe %>-->
            <!--<b>%= product.on_hand %></b>-->
          <!--% end %>-->
          <%= link_to small_image(product, :itemprop => "image"), product, :itemprop => 'url' %>
        </div>
        <%= link_to truncate(product.name, :length => 50), product, :class => 'info', :itemprop => "name", :title => product.name %>
        <span class="price selling" itemprop="price"><%= number_to_currency product.price %></span>
      </li>
    <% end %>
  <% end %>
  <% reset_cycle("classes") %>
</ul>
<p class="clear"></p>

<h1><%= t(:popular_products) %></h1>
<ul id="products" class="inline product-listing" data-hook>
  <% reset_cycle('default') %>
  <% @feature_products.each do |product| %>
    <% if Spree::Config[:show_zero_stock_products] || product.has_stock? %>
      <li id="product_<%= product.id %>" class="columns three <%= cycle("alpha", "secondary", "", "omega secondary", :name => "classes") %>" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
        <div class="product-image">
          <!--% if (current_user && current_user.admin_group?) %>-->
            <!--%= clone_product_btn(product).html_safe %>-->
            <!--<b>%= product.on_hand %></b>-->
          <!--% end %>-->
          <%= link_to small_image(product, :itemprop => "image"), product.images[0].attachment.url(:product), :itemprop => 'url', :class=>"preview" %>
        </div>
        <%= link_to truncate(product.name, :length => 50), product, :class => 'info', :itemprop => "name", :title => product.name %>
        <span class="price selling" itemprop="price"><%= number_to_currency product.price %></span>
      </li>
    <% end %>
  <% end %>
  <% reset_cycle("classes") %>
</ul>
<% end %>

<%# if paginated_products.respond_to?(:num_pages) %>
  <%#= paginate paginated_products %>
<%# end %>
