<div class="control-group">
  <%= f.label :username, t(:nick_name), :class=>"control-label" %>
  <div class="controls">
    <%= f.text_field :username, :class => 'title' %>
  </div>
</div>

<div class="control-group">
  <%= f.label :email, t(:email), :class=>"control-label" %>
  <div class="controls">
    <%= f.email_field :email, :class => 'title' %>
  </div>
</div>
<div id="password-credentials">
  <div class="control-group">
    <%= f.label :password, t(:password), :class=>"control-label" %>
    <div class="controls">
      <%= f.password_field :password, :class => 'title' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :password_confirmation, t(:confirm_password), :class=>"control-label" %>
    <div class="controls">
    <%= f.password_field :password_confirmation, :class => 'title' %>
    </div>
  </div>
</div>
<div class="control-group">
  <%= f.label :coupon, t(:coupon_code), :class=>"control-label" %>
  <div class="controls">
    <%= f.text_field :coupon, :class => 'title' %>
  </div>
</div>

<div data-hook="signup_below_password_fields"></div>
