<% content_for :header do %>

<div id="headline" class="row">
  <div class="span12">
    <%= render "shared/announcements" %>
    <%= render "shared/comments" %>
  </div>
  
</div>

<% end %>
<% content_for :sidebar do %>
  <div data-hook="homepage_sidebar_navigation">
    <%= render :partial => 'spree/shared/taxonomies' %>
    <%#= render "spree/shared/cart_details"  %>
  </div>
<% end %>
<%= render :partial=>"shared/notice" %>

<div data-hook="homepage_products">
  <%= render :partial => 'spree/shared/products', :locals => { :products => @products } %>
</div>
<script type="text/javascript"><!--
google_ad_client = "ca-pub-9871064883471328";
/* leader-board */
google_ad_slot = "5213407092";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<!--<script type="text/javascript"-->
        <!--src="http://pagead2.googlesyndication.com/pagead/show_ads.js">-->
<!--</script>-->

